In [112]:
# Import package dependencies
import pandas as pd
import numpy as np
import os
import glob
import xlsxwriter as xlsx


extension = 'csv'
entries = glob.glob('*.{}'.format(extension))

In [113]:
def create_10_df():
    global df_stock_all
    df_stock_all = {}
    filenames = {}
    columns_all={}
    

    count = 0
    for entry in entries:
        filename = os.path.splitext(entry)[0] #get filename from csv name
        filenames[filename] = filename 


        columns={'Adj Close':''}
        columns['Adj Close'] = filename
        columns_all[filename] =  columns


        #get filename from csv name
        #then rename the ['Adj Close'] column in df to ['stock index']


        df = pd.read_csv(entry)
        df = df[['Date','Adj Close']]
        df.rename(columns={'Date':'date'},inplace=True)
        df.rename(columns= columns_all[filename],inplace=True)
        df.set_index('date',inplace=True)
        df.dropna(inplace=True)

        df_stock_all[filename] = df

        #df_stock_all['NVDA'] returns df of NVDA stocks and so on
        #finishes return all of the df of our stocks into df_stock_all with the index the same as the index of the 
        #stock on our market index
        count += 1
        return df_stock_all



create_10_df()

{'MC.PA':                  MC.PA
 date
 2015-05-22  150.535248
 2015-05-25  150.082901
 2015-05-26  149.268723
 2015-05-27  151.847000
 2015-05-28  150.670929
 ...                ...
 2020-05-15  330.250000
 2020-05-18  350.049988
 2020-05-19  357.500000
 2020-05-20  361.750000
 2020-05-21  359.850006

 [1279 rows x 1 columns]}

In [109]:

def create_10_df():
    global df_stock_all
    df_stock_all = {}
    filenames = {}
    columns_all={}

    count = 0
    for entry in entries:
        filename = os.path.splitext(entry)[0] #get filename from csv name
        filenames[filename] = filename 
        columns={'Adj Close':''}
        columns['Adj Close'] = filename
        columns_all[filename] =  columns


        #get filename from csv name
        #then rename the ['Adj Close'] column in df to ['stock index']


        df = pd.read_csv(entry)
        df = df[['Date','Adj Close']]
        df.rename(columns={'Date':'date'},inplace=True)
        df.rename(columns= columns_all[filename],inplace=True)
        df.set_index('date',inplace=True)
        df.dropna(inplace=True)

        df_stock_all[filename] = df

        #df_stock_all['NVDA'] returns df of NVDA stocks and so on
        #finishes return all of the df of our stocks into df_stock_all with the index the same as the index of the 
        #stock on our market index
        count += 1
        
        return df_stock_all
create_10_df()

{'MC.PA':                  MC.PA
 date
 2015-05-22  150.535248
 2015-05-25  150.082901
 2015-05-26  149.268723
 2015-05-27  151.847000
 2015-05-28  150.670929
 ...                ...
 2020-05-15  330.250000
 2020-05-18  350.049988
 2020-05-19  357.500000
 2020-05-20  361.750000
 2020-05-21  359.850006

 [1279 rows x 1 columns]}

In [ ]:
df_cov = pd.merge(df_stock_all['FB'],df_stock_all['NFLX'], how='inner', on='date') 
df_cov

In [66]:
def merge_dfs(df_stock_all):
    global df_price_all
    global indices
    index = df_stock_all['FB'].index
    column =list(df_stock_all['FB'].columns)
    df_price_all = pd.DataFrame(index = index , columns = ['price_t'])
    # create an empty dataframe then merge the other 10 stock df into one df
    indices = len(df_stock_all.keys())

    for key in keys: 
            df_price_all = pd.merge(df_stock_all[key],df_price_all, how='inner', on='date')


    df_price_all = df_price_all.drop(columns='price_t')
    
    return df_price_all, indices

(                  COST          FB        AAPL      UHR.SW      LNVGY  \
 date
 2015-05-22  130.958252   80.540001  122.150032  340.251099  24.903860
 2015-05-26  130.566315   79.330002  119.458923  333.731171  24.374941
 2015-05-27  132.544174   80.550003  121.689232  328.341431  24.047161
 2015-05-28  131.486877   80.150002  121.449577  329.384583  23.480997
 2015-05-29  129.964737   79.190002  120.067184  324.429504  23.555490
 ...                ...         ...         ...         ...        ...
 2020-05-14  299.739990  206.809998  309.540009  167.721283  11.030000
 2020-05-15  299.209991  210.880005  307.709991  166.850006  10.830000
 2020-05-18  302.760010  213.190002  314.959991  178.800003  11.350000
 2020-05-19  304.630005  216.880005  313.140015  181.250000  11.300000
 2020-05-20  304.910004  229.970001  319.230011  181.949997  11.240000

                  LVMHF        NFLX        AMD        NVDA       MC.PA
 date
 2015-05-22  166.976227   88.838570   2.280000   20.269289  150.535248
 2015-05-26  163.336136   87.992859   2.220000   20.142969  149.268723
 2015-05-27  165.482147   89.857140   2.280000   21.221537  151.847000
 2015-05-28  163.625854   89.507141   2.270000   21.513039  150.670929
 2015-05-29  163.625854   89.151428   2.280000   21.503325  146.690430
 ...                ...         ...        ...         ...         ...
 2020-05-14  359.899994  441.950012  54.509998  321.220001  331.000000
 2020-05-15  357.200012  454.190002  54.200001  339.630005  330.250000
 2020-05-18  384.000000  452.579987  54.590000  350.010010  350.049988
 2020-05-19  388.700012  451.040009  55.470001  352.220001  357.500000
 2020-05-20  398.000000  447.670013  56.389999  358.799988  361.750000

 [1225 rows x 10 columns],
 10)

In [67]:
df_price_all

,COST,FB,AAPL,UHR.SW,LNVGY,LVMHF,NFLX,AMD,NVDA,MC.PA
date,,,,,,,,,,
2015-05-22,130.958252,80.540001,122.150032,340.251099,24.903860,166.976227,88.838570,2.280000,20.269289,150.535248
2015-05-26,130.566315,79.330002,119.458923,333.731171,24.374941,163.336136,87.992859,2.220000,20.142969,149.268723
2015-05-27,132.544174,80.550003,121.689232,328.341431,24.047161,165.482147,89.857140,2.280000,21.221537,151.847000
2015-05-28,131.486877,80.150002,121.449577,329.384583,23.480997,163.625854,89.507141,2.270000,21.513039,150.670929
2015-05-29,129.964737,79.190002,120.067184,324.429504,23.555490,163.625854,89.151428,2.280000,21.503325,146.690430
...,...,...,...,...,...,...,...,...,...,...
2020-05-14,299.739990,206.809998,309.540009,167.721283,11.030000,359.899994,441.950012,54.509998,321.220001,331.000000
2020-05-15,299.209991,210.880005,307.709991,166.850006,10.830000,357.200012,454.190002,54.200001,339.630005,330.250000
2020-05-18,302.760010,213.190002,314.959991,178.800003,11.350000,384.000000,452.579987,54.590000,350.010010,350.049988
2020-05-19,304.630005,216.880005,313.140015,181.250000,11.300000,388.700012,451.040009,55.470001,352.220001,357.500000
2020-05-20,304.910004,229.970001,319.230011,181.949997,11.240000,398.000000,447.670013,56.389999,358.799988,361.750000

In [27]:
df_cov_all.to_excel("covariance_stocks.xlsx")

In [31]:
df = df_cov_all

In [32]:
returns_df = df.pct_change(1)

In [34]:
returns_df.dropna()

,COST,FB,AAPL,UHR.SW,LNVGY,LVMHF,NFLX,AMD,NVDA,MC.PA
date,,,,,,,,,,
2015-05-26,-0.002993,-0.015024,-0.022031,-0.019162,-0.021238,-0.021800,-0.009520,-0.026316,-0.006232,-0.008413
2015-05-27,0.015148,0.015379,0.018670,-0.016150,-0.013447,0.013139,0.021187,0.027027,0.053546,0.017273
2015-05-28,-0.007977,-0.004966,-0.001969,0.003177,-0.023544,-0.011217,-0.003895,-0.004386,0.013736,-0.007745
2015-05-29,-0.011576,-0.011978,-0.011382,-0.015043,0.003172,0.000000,-0.003974,0.004405,-0.000452,-0.026418
2015-06-01,-0.001402,0.013891,0.001996,0.000273,-0.002530,-0.010791,-0.001667,-0.013158,0.011297,0.006476
...,...,...,...,...,...,...,...,...,...,...
2020-05-14,-0.007943,0.008337,0.006143,-0.013383,0.002727,-0.005801,0.008397,0.044653,0.032198,-0.012088
2020-05-15,-0.001768,0.019680,-0.005912,-0.005195,-0.018132,-0.007502,0.027695,-0.005687,0.057313,-0.002266
2020-05-18,0.011865,0.010954,0.023561,0.071621,0.048015,0.075028,-0.003545,0.007196,0.030563,0.059955
2020-05-19,0.006176,0.017309,-0.005778,0.013702,-0.004405,0.012240,-0.003403,0.016120,0.006314,0.021283
2020-05-20,0.000919,0.060356,0.019448,0.003862,-0.005310,0.023926,-0.007472,0.016586,0.018681,0.011888

In [37]:
num_stocks = indices
weights = [1 / num_stocks] * num_stocks
weights

[0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1]

In [39]:
vcv_matrix = returns_df.cov()
vcv_matrix

,COST,FB,AAPL,UHR.SW,LNVGY,LVMHF,NFLX,AMD,NVDA,MC.PA
COST,0.000185,0.000095,0.000121,0.000052,0.000057,0.000083,0.000116,0.000128,0.000141,0.000058
FB,0.000095,0.000406,0.000207,0.000104,0.000097,0.000155,0.000241,0.000245,0.000282,0.000118
AAPL,0.000121,0.000207,0.000338,0.000110,0.000119,0.000169,0.000207,0.000282,0.000298,0.000129
UHR.SW,0.000052,0.000104,0.000110,0.000327,0.000117,0.000192,0.000100,0.000145,0.000153,0.000209
LNVGY,0.000057,0.000097,0.000119,0.000117,0.000458,0.000134,0.000097,0.000164,0.000154,0.000119
LVMHF,0.000083,0.000155,0.000169,0.000192,0.000134,0.000382,0.000152,0.000215,0.000212,0.000279
NFLX,0.000116,0.000241,0.000207,0.000100,0.000097,0.000152,0.000715,0.000326,0.000330,0.000112
AMD,0.000128,0.000245,0.000282,0.000145,0.000164,0.000215,0.000326,0.001758,0.000621,0.000182
NVDA,0.000141,0.000282,0.000298,0.000153,0.000154,0.000212,0.000330,0.000621,0.000900,0.000157
MC.PA,0.000058,0.000118,0.000129,0.000209,0.000119,0.000279,0.000112,0.000182,0.000157,0.000305

In [40]:
# Calculate the variance of the 10 asset portfoio
var_p = np.dot(np.transpose(weights), np.dot(vcv_matrix, weights))

In [102]:
def estimate_porfolio_risk(df_cov_all,indices):
    global var_p
    global sd_p
    global sd_p_annual
    global individual_risks
    global vcv_matrix

    df = df_price_all
    # Calculate returns for each stock, at each time
    returns_df = df.pct_change(1)
    returns_df.dropna()
    num_stocks = indices
    weights = [1 / num_stocks] * num_stocks
    # Calculate the variance covariance matrix
    vcv_matrix = returns_df.cov()
    
    
    # Calculate the variance of the 10 asset portfoio
    var_p = np.dot(np.transpose(weights), np.dot(vcv_matrix, weights))
    
    # Calculate the Annualised Standard Deviation of the 10 asset portfolio
    sd_p = np.sqrt(var_p)
    sd_p_annual = sd_p * np.sqrt(250)
    
    # Compare the Portfolio Risk with the individual risks of each security
    individual_risks = np.std(returns_df) * np.sqrt(250)
    
    
    
    return var_p, sd_p, sd_p_annual, individual_risks, vcv_matrix

In [103]:
results = [var_p, sd_p, sd_p_annual, individual_risks]
results

[0.0002134132494109524,
 0.014608670350547047,
 0.23098335947149545,
 Empty DataFrame
 Columns: [individual_risks]
 Index: []]

In [100]:
individual_risks

Empty DataFrame
Columns: [individual_risks]
Index: []

In [74]:
estimate_porfolio_risk(df_cov_all,indices)

(0.0002134132494109524,
 0.014608670350547047,
 0.23098335947149545,
 COST      0.214962
 FB        0.318628
 AAPL      0.290751
 UHR.SW    0.285721
 LNVGY     0.338312
 LVMHF     0.308754
 NFLX      0.422611
 AMD       0.662607
 NVDA      0.474035
 MC.PA     0.276024
 dtype: float64)

In [97]:
df_result                 = pd.DataFrame (columns = ['var_p','sd_p', 'sd_p_annual'])
df_result_individual_risk = pd.DataFrame (individual_risks, columns = ['individual_risks'])

In [98]:
df_result_individual_risk

Empty DataFrame
Columns: [individual_risks]
Index: []

In [86]:
writer = pd.ExcelWriter('covariance_stocks.xlsx', engine='xlsxwriter')
df_price_all.to_excel(writer, sheet_name='Data')
vcv_matrix.to_excel(writer, sheet_name='Matrix')
df3.to_excel(writer, sheet_name='Sheet3')

TypeError: 'module' object is not callable